%h1
  Is it hot or not?

%body
  %table
    %tr
      %th
        Temperature
      %th
        Definition
    %tr
      %td
        Hot
      %td
        = @presenter.hot_definition
    %tr
      %td
        Warm
      %td
        = @presenter.warm_definition
    %tr
      %td
        Cold
      %td
        = @presenter.cold_definition

  %br

  = form_with url: "/weather/search", method: :get, local: true do |form|
    = form.label :query, "Search postcode:"
    = form.text_field :query
    = form.submit "Search", :name => nil

  %br

  %p
    - if params[:query].present?
      = @presenter.hot_or_not_statement
